name: 'publish npm package'

on: [workflow_dispatch]

jobs:
  release:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out the repo'
        uses: 'actions/checkout@v3'
        
      - name: 'Install Node.js'
        uses: 'actions/setup-node@v3'
        with:
          cache: 'yarn'
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'

      - name: 'Install the Node.js dependencies'
        run: 'yarn install --immutable'

      - name: 'Build the sdk'
        run: 'yarn build'

      - name: 'publish'
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.SDK_NPM_AUTH_TOKEN}}
